<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Desafio rocketseaty</title>
</head>

<body>
  <h1>Verificação de Idades</h1>
  <form action='/check' method='POST'>
    Nome:
    <input type="text" name="nome">
    <br> Data de Nascimento:
    <input type="date" name="dataNascimento">
    <br>
    <button type="submit">Verificar</button>
  </form>
</body>

</html>
